body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.navbar-default {
  background-color: #eecc29;
  opacity: 0.6;
  border: none;
}
.navbar-default .nav-brand {
  color: #333333 !important;
}
#fullpage #intro {
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}
